[Desktop Entry]
Name=MPV_simpleserver
Comment=control mpv by webbrowser
Exec=/usr/bin/env NOVIDEO=true /home/alarm/mpv_simpleserver/mpv_simpleserver.py /home/alarm/playdir
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Network;Application;
